body {
    background: #f4f5f7;
  }
  
  /* CONTENT SECTION BEGIN */
  .content-section {
    margin-left: 50px;
    margin-top: 70px;
  }
  /* CONTENT SECTION END */
  
  /* NAVBAR SECTION BEGIN */
  .navbar-section {
    position: fixed;
    right: 0;
    top: 0;
  }
  
  .navbar {
    background-color: white;
    height: 70px;
    width: 100vw;
  }
  /* NAVBAR SECTION END */
  
  /* SIDEBAR SECTION BEGIN */
  .collapseSidebar {
    display: none;
  }
  .main-menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0d28a6;
    width: 70px;
    height: 100vh;
    color: white !important;
    font-size: 12px;
  }
  
  .main-menu a,
  .main-menu a:hover {
    color: white !important;
    text-decoration: none;
  }
  
  .box {
    height: 70px;
  }
  
  .box:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .side-icon {
    width: 30px;
  }
  
  .menu-list {
    position: fixed;
    top: 70px;
    left: 70px;
    width: 220px;
    height: 100vh;
    background-color: white;
  }
  
  .list-menu {
    font-weight: 700;
    padding: 12px 18px;
  }
  
  .list-menu:hover {
    background-color: #cfd4ed;
  }
  
  .menu-list a {
    color: black;
    text-decoration: none;
  }
  /* SIDEBAR SECTION END */

  /* DASHBOARD TABLE*/
  /* #listTable {
    margin-left: 200px;
  } */

  #listTable thead {
    background: #cfd4ed;
  }
  
  #listTable .drop .form-select {
    width: 62px;
    height: 36px;
    font-size: 12px;
  }
  
  #listTable .jtp .form-select {
    width: 76px;
    height: 36px;
    font-size: 12px;
  }
  #listTable .paging nav {
    display: flex;
    justify-content: flex-end;
  }
  
  #listTable a.page-link {
    height: 38px;
    width: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8a8a8a;
  }
  #listTable .page-item.active .page-link {
    background: #cfd4ed;
    color: #0d28a6;
    border-color: #0d28a6;
  }
  #listTable .form-select {
    display: inline;
  }
  #listTable .content-section .btn {
    display: inline;
    background: #0d28a6;
    color: #fff;
    width: 43px;
    height: 36px;
  }
  /* DASHBOARD TABLE*/



  /* LIST CAR */

  #listCar body {
    margin: 0;
    padding: 0;
    font-family: "helvetica", arial, sans-serif !important;
  }
  
  #listCar h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700 !important;
  }
  
  #listCar p {
    font-size: 14px;
    font-weight: 300;
  }
  
  #listCar .container-list-car {
    width: 1100px;
    background-color: #e5e5e5;
    padding-left: 25px;
    padding-top: 27px;
    padding-right: 24px;
    margin: auto;
  }
  
  #listCar .container-list-car .btn-group button {
    font-size: 14px;
  }
  
  #listCar span.list-car {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 27px;
  }
  
  #listCar .btn.btn-primary {
    background-color: #0d28a6;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    width: 142px;
  }
  
  #listCar .btn.btn-outline-primary {
    border: 1px solid #aeb7e1;
    color: #aeb7e1;
    border-radius: 2px;
    font-weight: 700;
    background-color: white;
    margin-right: 16px;
  }
  
  #listCar .btn.btn-outline-primary:hover {
    color: #0d28a6;
    background-color: #cfd4ed;
  }
  
  #listCar .list-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #listCar .card {
    width: 351px;
    height: 482px;
    margin-top: 32px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    padding: 8px;
    box-sizing: border-box;
  }
  
  #listCar .card .card-body h5.card-title {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 47px;
  }
  
  #listCar .card .card-body h6 {
    margin-bottom: 1rem;
  }
  
  #listCar .card .card-body .btn-group button img {
    padding: 0 7px;
  }
  
  #listCar .card .card-body p.card-text img {
    padding-right: 9.5px;
  }
  
  #listCar .btn.btn-danger {
    width: 143.5px;
    height: 48px;
    background-color: white;
    color: red;
    font-weight: 700;
    padding: 8px 12px;
    margin-right: 16px;
  }
  #listCar .btn.btn-danger:hover {
    background-color: white;
    color: red;
  }
  #listCar .btn.btn-success {
    width: 143.5px;
    height: 48px;
    background-color: #5cb85f;
    color: white;
    font-weight: 700;
    padding: 8px 12px;
  }
  
  #listCar .btn.btn.btn-success:hover {
    background-color: #5cb85f;
    color: white;
  }
  
  /* LIST CAR END*/
  
  /* ADD NEW CAR */
  /* #addNewCar {
    height: 100vh; 
    background-color: #e5e5e5;
  } */
  
  #addNewCar ::-webkit-file-upload-button {
    display: none;
  }
  
  #addNewCar .sub-tree i {
    position: relative;
    top: 5px;
  }
  
  #addNewCar a:hover {
    color: blue !important;
  }
  
  #addNewCar .sub-tree a {
    color: black;
    text-decoration: inherit;
  }
  
  #addNewCar input[type='file'] {
    opacity: 70%;
  }
  
  #addNewCar .form-body {
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    padding: 2%;
  }
  
  #addNewCar input {
    max-width: 560px;
  }
  
  #addNewCar .row {
    padding-bottom: 2%;
  }
  
  #addNewCar .footer {
    position: relative;
    bottom: -150px;
  }
  
  #addNewCar .form-body p {
    position: absolute;
    top: 308px;
    left: 668px;
    opacity: 70%;
  }
  
  #addNewCar .form-body img {
    position: relative;
    top: 0;
    right: 0;
  }
  
  #addNewCar footer button {
    margin-right: 16px;
  }
  
  #addNewCar .btn-custom {
    padding: 8px 12px;
    background: #ffffff;
    border: 1px solid #0d28a6;
    box-sizing: border-box;
    border-radius: 3px;
    color: #0d28a6;
    font-size: 14px;
    font-weight: 700;
    justify-content: end;
  }
  
  #addNewCar .btn-custom-save {
    padding: 8px 12px;
    background: #ffffff;
    border: 1px solid #0d28a6;
    box-sizing: border-box;
    border-radius: 3px;
    color: #0d28a6;
    font-size: 14px;
    font-weight: 700;
    justify-content: end;
  }
  
  #addNewCar .btn-custom:hover {
    background: #0d28a6;
    color: #ffffff;
    transition: 150ms linear;
  }
  
  #addNewCar .btn-custom-save:hover {
    background: #0d28a6;
    color: #ffffff;
    transition: 150ms linear;
  }
  
  #addNewCar ::file-selector-button {
    display: none;
  }
  
  #addNewCar .input-group-text {
    background-color: #ffffff !important;
    border-left: none !important;
    cursor: pointer;
  }
  
  #file-input {
    max-width: 518px;
    border-right: none !important;
    margin-bottom: 0;
  }
  
  #fileHelp {
    margin: 0;
  }
  
  /* ADD NEW CAR END */
  
  